<div ng-include="'/partials/menus/menuOperador.html'"></div>
<div style="margin-left: 6cm;">
<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
	<div class="col-md-6">
		<div class="form-group">
			<label>Título:</label>
			<input ng-maxlength="100" name="titulo" class="form-control" ng-model="obra.titulo" required>  

			<span ng-show = "formulario.$submitted && formulario.titulo.$error.required"
				class="form-control alert-danger">
				Título obrigatório
			</span>
			<span ng-show="formulario.titulo.$error.maxlength" 
				class="form-control alert-danger">
				No máximo 100 caracteres!
			</span>
		</div>
		<div class="form-group">
			<label>Autor:</label>
			<select name="autor" ng-model="obra.autor" class="form-control"  
					ng-options="autor.nome as (autor.nome | uppercase) for autor in autores">
				<option value="">Escolha um Autor</option>
			</select>
			<span ng-show="formulario.$submitted && formulario.autor.$error.required" 
				class="form-control alert-danger">
				Autor obrigatório
			</span>
		</div>
		<div class="form-group">
			<label>Gênero:</label>
			<select name="genero" ng-model="obra.genero" class="form-control" 
					ng-options="genero.nome as (genero.nome | uppercase) for genero in generos">
				<option value="">Escolha um Gênero</option>
			</select>
			<span ng-show="formulario.$submitted && formulario.genero.$error.required" 
				class="form-control alert-danger">
				Genero obrigatório
			</span>
		</div>
		<div class="form-group">
			<label>Editora:</label>
			<select name="editora" ng-model="obra.editora" class="form-control" 
					ng-options="editora.nome as (editora.nome | uppercase) for editora in editoras">
				<option value="">Escolha uma Editora</option>
			</select>
			<span ng-show="formulario.$submitted && formulario.editora.$error.required" 
				class="form-control alert-danger">
				Editora obrigatório
			</span>
		</div>
		<button type="submit" href="/#/obras" class="btn btn-success" ng-disabled="formulario.$invalid">
			Cadastrar
		</button>
		<a href="/#/obras" class="btn btn-primary">Voltar</a>
		<hr>
	</div>
</form>
</div>