<div ng-include="'/partials/menus/menuOperador.html'"></div>
<div style="margin-left: 6cm;">
<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
	<div class="col-md-6">
		<div class="form-group">
			<label>CPF Usuário:</label>
			<input ng-maxlength="100" name="usuario" class="form-control" ng-model="emprestimo.usuario" required>  

			<span ng-show = "formulario.$submitted && formulario.usuario.$error.required"
				class="form-control alert-danger">
				CPF obrigatório
			</span>
			<span ng-show="formulario.usuario.$error.maxlength" 
				class="form-control alert-danger">
				No máximo 100 caracteres!
			</span>
		</div>
		<div class="form-group">
			<label>Data retirada</label>
			<input ng-maxlength="100" name="diasDeEmprestimo" class="form-control" ng-model="emprestimo.diasDeEmprestimo" required>  

			<span ng-show = "formulario.$submitted && formulario.diasDeEmprestimo.$error.required"
				class="form-control alert-danger">
				Data obrigatória
			</span>
			<span ng-show="formulario.diasDeEmprestimo.$error.maxlength" 
				class="form-control alert-danger">
				No máximo 100 caracteres!
			</span>
		</div>
		<div class="form-group">
			<label>Data Entrega:</label>
			<input ng-maxlength="100" name="dataEntrega" class="form-control" ng-model="emprestimo.dataEntrega" required>  

			<span ng-show = "formulario.$submitted && formulario.dataEntrega.$error.required"
				class="form-control alert-danger">
				Data obrigatória
			</span>
			<span ng-show="formulario.dataEntrega.$error.maxlength" 
				class="form-control alert-danger">
				No máximo 100 caracteres!
			</span>
		</div>
		<div class="form-group">
			<label>Livro:</label>
			<select name="obra" ng-model="emprestimo.obras" class="form-control">
			 	<option ng-repeat="obra in obras"
          			value="{{obra.titulo}}"
          			title="Custom title: {{obra.titulo}} [{{obra.genero}}]">
       				{{obra.titulo}}
  				</option>
			</select>
			<span ng-show="formulario.$submitted && formulario.obras.$error.required" 
				class="form-control alert-danger">
				Livro obrigatório
			</span>
		</div>
		<div class="form-group">
			<label>Operador responsavel:</label>
			<select name="operador" ng-model="emprestimo.operador" class="form-control">
				  <option ng-repeat="operador in operadores"
          			value="{{operador.nome}}"
          			title="Custom title: {{operador.nome}} [{{operador.login}}]">
       				{{operador.nome}}
  				</option>
			</select>
			<span ng-show="formulario.$submitted && formulario.editora.$error.required" 
				class="form-control alert-danger">
				Operador obrigatório
			</span>
		</div>
		<button type="submit" href="/#/emprestimos" class="btn btn-success" ng-disabled="formulario.$invalid">
			Cadastrar
		</button>
		<a href="/#/emprestimos" class="btn btn-primary">Voltar</a>
		<hr>
	</div>
</form>
</div>