<head><link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"></head>
<div class="container">
	<div class="row">
		 <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="margin-left:0;">
                <li>
                    <a href="#/newobra"><i class="fa fa-book" aria-hidden="true"> </i> <span style="margin-left:10px;">Nova Obra</span>  </a>
                </li>
                <li>
                    <a href="#/newautor"><i class="fa icon-user" aria-hidden="true"> </i> <span style="margin-left:10px;">Novo Autor</span>  </a>
                </li>
                <li>
                    <a href="#/neweditora"><i class="fa icon-suitcase" aria-hidden="true"> </i> <span style="margin-left:10px;">Nova Editora</span>  </a>
                </li>
                <li>
                    <a href="#/newgenero"><i class="fa icon-comments-alt" aria-hidden="true"> </i> <span style="margin-left:10px;">Novo Genero</span>  </a>
                </li>
                <li>
                    <a href="#/obras"> <i class="fa fa-play-circle-o" aria-hidden="true"> </i> <span style="margin-left:10px;">Lista Obras</span> </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">                                                                     
</a>
	</div>
</div>