<div ng-include="'/partials/menus/menuOperador.html'"></div>
<div style="margin-left: 6cm;">

<div class="panel-body table-responsive">
		<h3>Lista de Obras: </h3> 
    <a class="btn btn-primary" href="#/newobra">Nova Obra</a>
    <br></br>
    <input class="form-control col-md-3" placeholder="Filtro:" ng-model="filtro" ng-model-options="{ debounce: 500 }">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Autor</th>
          <th>Genero</th>
          <th>Editora</th>
          <th class="text-right">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="obras in obras | filter: filtro" titulo="{{obras.titulo}}">
          <td>{{obras.titulo}}</td>
          <td>{{obras.autor}}</td>
          <td>{{obras.genero}}</td>
          <td>{{obras.editora}}</td>
          <td>
            <div class="btn-group pull-right nowrap">
              <a class="btn btn-primary btn-md" href="/#/obras/edit/{{obras._id}}"><span class="fa icon-edit"></span> </a>
              <a class="btn btn-danger btn-md" ng-click="remover(obras)"><span class="fa icon-trash"></span> </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
